@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
   font-family: 'Permanent Marker';
   text-align: center;
}
/* styling the board */
#board {
    border: 1px solid #333;
    display : inline-block;
}

.row{
    font-size: 0px;
}
.col{
    display:inline-block;
width: 75px;
height: 75px;
background-color:pink; 
border-right: 1px solid green;
border-bottom: 1px solid green;


}