@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


body {
  font-family: "Inconsolata", monospace;
  text-align: center;
}
/* header */

header {
  background-color: #59aec7;
  position: relative;
  height: 100px;
  width: 100vw;
}
button {
    position:inherit;
  top: 50%;
  left: 5%;
  float: right;
  font-size: 24px;
  width: 160px;
  height: 70px;
  background-color: rgb(174, 0, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #59aec7;
}
button:hover {
  background-color: #eee;
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #4f7794;
}

/* The hamburger button hidden inside an input element */
#menuToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  padding: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle label {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}
#menuToggle label span {
  display: none;
}

/*
 * Hamburger
 */
#menuToggle label div {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#menuToggle label div:first-child {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#menuToggle label div:nth-child(2) {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

/* 
 * Change the color of the hamburger when toggled
 */
#menuToggle input:checked + label div {
  background: #232323;
}

/*
 * Use absolute positioning to place the menu off-screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #59aec7;
  list-style-type: none;
  /* Hide the menu off-screen to the left */
  left: -100%;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * Slide the menu in from left when the input is checked
 */
#menuToggle input:checked ~ ul {
  left: 0;
}


#board {
  border: 1px solid #333;
  display: inline-block;
  margin-top: 100px;
}

.row {
  font-size: 0px;
}

.col {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: #eee;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  vertical-align: top;
  color: black;
  font-size: 20px;
  line-height: 50px;
  transition: all 1s;
}

.col.hidden {
  background-color: #59aec7;
  cursor: pointer;
}

.col.hidden:hover {
  background-color: #eee;
}

.row:last-child .col {
  border-bottom: none;
}

.row .col:last-child {
  border-right: none;
}
button {
  justify-content: end;
}
