@import url(https://fonts.googleapis.com/css?family=Quicksand:400, 700);

body {
  background-color: pink;
}
/* styling the box */
.idk {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: auto;
}
/* the title font */
h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin-top: 1px;
  color: #d14545;
}
/* the line to seprate text  */
.hr {
  width: 300px;
  border: 1px solid #3d3d3d;
}
/* styling the font of p */
p {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.top {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  margin-top: 10px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: underline;
}

.bottom {
  font-family: "Amatic SC", cursive;
  font-size: 24px;
  margin-top: -35px;
  color: #d14545;
}

.bottom a {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  margin-top: -10px;
  color: #fff;
  text-decoration: none;
  box-shadow: 6px 6px 5px 6px white;
  background-color: #d14545;
}

.bottom p {
  font-family: "Amatic SC", cursive;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
