
  @import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);


* {
  padding:0;
  margin:0;
}
body{
    background-color :pink;
    font-family: 'Permanent Marker', cursive;
}
/* video full screen+responsive */
video {
  height: 100%;
  width: 100%;

}




/* styling the buttom backgrounf
d*/
.button {
  padding: 50px 42px;
      display: flex;
  justify-content: center;
  line-height: 1.75;
  background:pink;
  text-decoration: none;
  color: white;
  font-size: 30px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
 
 
  overflow: hidden;
  cursor: pointer;
  }
  



/* styling the buttom */
  .start{
      background-color: white;
        display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: blue;
 width: 50%;
 text-align: center;
  box-shadow:         3px 3px 5px 6px gray;
  }
 
.instruction{
  background-color: pink;
        display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: blue;
   
  }

  .instru{

       padding: 5px;

  line-height: 1.75;
  background:pink;
  text-decoration: none;
  background-color: white;
  font-size: x-large;
  letter-spacing: .09em;
  text-transform: uppercase;
  position: relative;
 
 
  overflow: hidden;
  cursor: pointer;
 box-shadow:         3px 3px 5px 6px gray;
  }

.text-center {
    background-color: pink;
}
.txt-railway{
    color: white;
}
/*  */
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

