/* google font  */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inconsolata", monospace;
  
  

  }
  h2{
         display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
#page-contact{
      display: flex;
  justify-content: center;
  align-items: center;

}

/* contact form style  */


#contactForm {
   width: 60%;

  border-radius: 15px;
  border: 1px solid #d6bcd6;
   margin-top: 5%;
    margin-bottom: 10%;
  
} 

label{
    margin-left:10%;
    margin-top: 3%;
}

/*  */
input[type="text"] {
  width: 80%;
  margin-top: 10px;
  height: 35px;
  margin-bottom: 25px;
  padding: 10px;
  border: 3px solid #2bc1f2;
  margin-left:10%;

}
input[type="email"] {
  width: 80%;
  margin-top: 10px;
  height: 35px;
  margin-bottom: 25px;
  padding: 10px;
  border: 3px solid #2bc1f2;
  margin-left:10%;
}
textarea {
  width: 80%;
  border: 3px solid #2bc1f2;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  height: 100px;
  resize: none;
  margin-left:10%;
}
input[type="submit"] {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Arial;
  font-size: 17px;
  margin-bottom: 5%;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
  margin-left: 43%
  
 
}
input:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
input:active {
  position: relative;
  top: 1px;
}


/* footer */
footer {
  background-color: #59aec7;
  margin-top: 55px;
}

/* responsive for other devices  */

@media only screen and (max-width: 840px) {
  input[type="submit"] {
  margin-left: 5%;
    
  }
}
@media only screen and (max-width: 1040px) {
  input[type="submit"] {
  margin-left: 37%;
    
  }
}
@media only screen and (max-width: 440px) {
  input[type="submit"] {
  margin-left: 50px;
    
  }
}



