/* ----- google font  ----- */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

/* title of texts */
h3 {
margin-top: 10%;
  text-align: center;
}

/* start button */

#start {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px;
  border-radius: 30px;
  color: black;
}
/* styling the text  */
div.a {
  border: 1px solid #ccc;

  text-align: center;

  box-shadow: 0 0 15px;
  border-radius: 10px;
  margin: 30px 60px 40px 30px;
  padding: 10px 20px 10px 20px;

  margin-top: 100px;
   vertical-align: middle;
  align-content: center;
  line-height: 75px;
}


/* responsive for other devieces  */

@media only screen and (max-width: 600px) {
  div.b {
    margin: 40px 40px 40px 40px;
    font-size: 10px;
    text-align: justify;
    padding: 10px 20px 10px 20px;
  }
}
@media only screen and (max-width: 600px) {
  div.a {
    margin: 40px 40px 40px 40px;
    font-size: 10px;
    text-align: justify;
    padding: 10px 20px 10px 20px;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
    display: inline-block;
  }
}