/* ----- google font  ----- */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

/* header */


h1 {
  text-align: center;
  font-size: 40px;
}
h4 {
  text-align: center;
}

#start{
     background-color: #fff;
 border: 1px solid #ccc;
  box-shadow: 0 0 15px;
  border-radius: 30px;
  color: black;
}




div.a {
  border: 1px solid #ccc;

  text-align: center;

  box-shadow: 0 0 15px;
  border-radius: 10px;
  margin: 40px 80px 40px 80px;
  padding: 10px 20px 10px 20px;
}
div.b {
  border: 1px solid #ccc;

  margin: 40px 80px 40px 80px;

  box-shadow: 0 0 15px;
  border-radius: 10px;
  text-align: center;

  margin-top: 40px;
  padding: 10px 20px 10px 20px;
}






/* responsive for other devieces  */

@media only screen and (max-width: 600px) {
  div.b {
    margin: 40px 40px 40px 40px;
    font-size: 15px;
    text-align: justify;
    padding: 10px 20px 10px 20px;
  }
}
@media only screen and (max-width: 600px) {
  div.a {
    margin: 40px 40px 40px 40px;
    font-size: 15px;
    text-align: justify;
    padding: 10px 20px 10px 20px;
  }
}
h6 {
  text-align: center;
}

