/* ----- google font  ----- */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

/* title of texts */
h4 {
  text-align: center;
}
/* copy right position  */
h6 {
  text-align: center;
}

/* start button */

#start {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px;
  border-radius: 30px;
  color: black;
  
}
/* styling the text  */
div.a {
  border: 1px solid #ccc;

  text-align: center;

  box-shadow: 0 0 15px;
  border-radius: 10px;
  margin: 40px 80px 40px 80px;
  padding: 10px 20px 10px 20px;
}
div.b {
  border: 1px solid #ccc;

  margin: 40px 80px 40px 80px;

  box-shadow: 0 0 15px;
  border-radius: 10px;
  text-align: center;

  margin-top: 40px;
  padding: 10px 20px 10px 20px;
}
/* footer  */
footer {
  background-color: #59aec7;
  margin-top: 55px;
  justify-content: center;
}
/* responsive for other devieces  */

@media only screen and (max-width: 600px) {
  div.b {
    margin: 40px 40px 40px 40px;
    font-size: 10px;
    text-align: justify;
    padding: 10px 20px 10px 20px;
    
  }
}
@media only screen and (max-width: 600px) {
  div.a {
    margin: 40px 40px 40px 40px;
    font-size: 10px;
    text-align: justify;
    padding: 10px 20px 10px 20px;
  }
}
@media only screen and (max-width: 600px) {
  p {
 font-size: 14px;
        display: inline-block;

  }
}

