/* ----- google font  ----- */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inconsolata", monospace;
  text-align: center;
}
/* header */

header {
  background-color: #59aec7;

  height: 100px;
  width: 100vw;
}

/* video full screen+responsive */

video {
  height: 100%;
  width: 100%;
}

/*menu */

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #4f7794;
}

/* The hamburger button hidden inside an input element */
#menuToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle label {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}
#menuToggle label span {
  display: none;
}

/*
 * Hamburger
 */
#menuToggle label div {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#menuToggle label div:first-child {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#menuToggle label div:nth-child(2) {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

/* 
 * Change the color of the hamburger when toggled
 */
#menuToggle input:checked + label div {
  background: white;
}

#menu {
  position: absolute;
  width: 250spx;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #59aec7;
  list-style-type: none;

  left: -100%;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * Slide the menu in from left when the input is checked
 */
#menuToggle input:checked ~ ul {
  left: 0;
}

/* start buttom style  */

.myButton {
  border-radius: 90px;
  border: 1px solid black;

  text-align: center;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
  background-color: #2bc1f2;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px white;
  font-size: 30px;
  width: 200px;
  box-shadow: 0 0 15px;

  margin-left: 44%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.myButton:hover {
  color: black;
}

.start {
  color: black;
}

/* footer */

footer {
  background-color: #59aec7;
  margin-top: 50px;
  padding-top: 50px;
}
#social-fb {
  color: black;
  margin-top: 10px;
}
#social-tw {
  color: black;
}

#lab_social_icon_footer #social-fb:hover {
  color: rgb(174, 182, 199);
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}




/* resposive for other devieces */
@media only screen and (max-width: 600px) {
  header {
    font-size: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
}
h6 {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  body h1 {
    margin-top: 14px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 640px) {
  .myButton {
    font-size: 15px;
    width: 80px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 39%;
  margin-top: 5%;
  }
}
@media only screen and (max-width: 840px) {
  .myButton {
    font-size: 15px;
    width: 80px;
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  }
}
@media only screen and (max-width: 1040px) {
  #menuToggle label div {
      height: 1px;
   
  
  margin-left: 39%;
  }
}